body{
  background: pink;
  text-align: center;
}
.info-box {
    border: 20px solid #000; /* You can change the color (e.g., #000 for black) and thickness of the border */
    padding: 2px;
    margin: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0,  1); /* Optional: Add a box shadow for a subtle effect */
}